[Unit]
Description=node-minecraft-protocol
After=network.target

[Service]
WorkingDirectory=/opt/beacon-mc
ExecStart=/opt/beacon-mc/dist/index.js
User=ec2-user
Group=ec2-user
Restart=on-failure

[Install]
WantedBy=default.target

